<ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        <div class="ion-text-center">
        Data List
      </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content color="secondary">
    <br>
    <br>
      <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
    <ion-list>
   
      <ng-container *ngIf="!todos || todos.length == 0">
        <div *ngFor="let n of [0,1,2]" padding>
          <ion-skeleton-text></ion-skeleton-text>
          <p>
            <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
          </p>
        </div>
      </ng-container>
      
      <ion-item-sliding *ngFor="let item of todos">
       <ion-row>
         <ion-col siz="1" style="background:#330000">
            <ion-item lines="inset" button [routerLink]="['/details', item.id]">
              <ion-label>
                {{ item.name }}
                <p>{{ item.createdAt | date:'short' }}</p>
              </ion-label>
              <ion-note slot="end" color="primary">{{ item.password }}</ion-note>
            </ion-item>
         </ion-col>
         <ion-col size="1">
            <a class="btn text-danger"(click)="onDelete(item.id)"><i class="fa fa-trash"></i></a>
         </ion-col>
       </ion-row>

        <ion-item-options side="end">
          <ion-item-option (click)="remove(item)" color="secondary">
            Check
            <ion-icon name="checkmark" slot="end"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
   
    </ion-list>
   
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink="/details" routerDirection="forward">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
   </ion-col>
   </ion-row>
   <div class="ion-text-center">
   <ion-button color="danger" (click)="add()">ADD</ion-button>
  </div>
  </ion-content>
